#zoom-controls {
  position: fixed;
  top: 10px;  /* Ajusta la distancia desde la parte superior */
  left: 10px;  /* Ajusta la distancia desde la parte izquierda */
  z-index: 1000;
  display: grid;
  flex-direction: row;  /* Cambia la dirección a fila */
  gap: 3px;  /* Espacio entre los botones */
}

#zoom-controls button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#zoom-controls button:hover {
  background-color: #f0f0f0;
}
